<template id="estimate-item-template">
  <div class="estimate-section collapsed" data-estimate-id="">
    <div class="estimate-header">
      <h3 class="estimate-name" data-prefix-label="ui_elements.estimate">
        <div class="price-graph-container">
          <div class="price-range-title">
            <span class="price-title name" data-prefix-label="ui_elements.estimate"></span>
            <span class="estimate-price min_total max_total"></span>
          </div>
          <div class="price-graph-bar">
            <div class="price-graph-range"></div>
          </div>
          <div class="price-graph-labels"></div>
        </div>
      </h3>
      <button class="remove-estimate" data-estimate-id="" data-title-label="estimate_management.estimate_actions.buttons.delete_button.label" data-aria-label="estimate_management.estimate_actions.buttons.delete_button.label" title="Delete Estimate" aria-label="Delete Estimate">
        <span class="dashicons dashicons-trash"></span>
      </button>

    </div>
    <div class="estimate-content">
      <div id="rooms">
        <div class="room-header">
          <h4 data-label="ui_elements.rooms_heading">Rooms</h4>
          <button class="add-room" data-estimate-id="" data-label="room_management.room_selection_form.buttons.create_new_room_button.label">Add New Room</button>
        </div>
        <div class="rooms-container"></div>
      </div>
    </div>
    <div class="estimate-actions">
      <ul>
        <li>
          <a class="print-estimate" data-estimate-id="" data-title-label="estimate_management.estimate_actions.buttons.print_button.label" title="Print Estimate">
            <span class="dashicons dashicons-pdf"></span> <span data-label="estimate_management.estimate_actions.buttons.print_button.label">Print estimate</span>
          </a>
        </li>
        <li>
          <a class="request-contact-estimate" data-estimate-id="" data-title-label="buttons.request_contact" title="Request contact from store">
            <span class="dashicons dashicons-businessperson"></span> <span data-label="buttons.request_contact">Request contact from store</span>
          </a>
        </li>
        <li>
          <a class="request-a-copy" data-estimate-id="" data-title-label="estimate_management.estimate_actions.buttons.request_copy_button.label" title="Request a copy">
            <span class="dashicons dashicons-email"></span> <span data-label="estimate_management.estimate_actions.buttons.request_copy_button.label">Request a copy</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>
