<template id="note-item-template">
  <div class="product-note-item" data-product-index="">
    <div class="note-details-wrapper">
      <div class="note-details">
        <span class="note-icon">
          <span class="dashicons dashicons-sticky"></span>
        </span>
        <div class="note-content" class="note-text"></div>
        <button class="remove-product" data-estimate-id="" data-room-id="" data-product-index="">
          <span class="dashicons dashicons-trash"></span>
        </button>
      </div>
    </div>
  </div>
</template>
