<template id="suggestion-item-template">
  <div class="suggestion-item">
    <div class="suggestion-image">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" class="suggestion-img">
    </div>
    <div class="suggestion-details">
      <div class="suggestion-name"></div>
      <div class="suggestion-price"></div>
      <div class="suggestion-actions">
        <button type="button" class="add-suggestion-to-room"
                data-product-id=""
                data-estimate-id=""
                data-room-id="">
          Add
        </button>
      </div>
    </div>
  </div>
</template>
