<template id="additional-product-option-template">
  <div class="additional-product-option-tile">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" class="tile-image product-img">
    <span class="tile-label product-name"></span>
    <div class="option-price product-price"></div>
    <button type="button" class="replace-product-in-room"
            data-product-id=""
            data-estimate-id=""
            data-room-id=""
            data-replace-product-id=""
            data-pricing-method=""
            data-replace-type="">
      Upgrade
    </button>
  </div>
</template>
