<template id="include-item-template">
  <div class="include-item" data-product-id="">
    <span class="product-includes-icon">
        <span class="dashicons dashicons-plus-alt"></span>
    </span>
    <span class="include-item-name product-name"></span>
    <span class="pe-info-button" data-tooltip-type="rich" data-tooltip-position="right" data-tooltip-title="Product Information" aria-label="View product information"></span>
    <div class="include-item-prices">
      <div class="include-item-total-price product-price"> </div>
    </div>
    <button class="remove-product" data-estimate-id="" data-room-id="" data-product-id="" title="Remove Product">
      <span class="dashicons dashicons-trash"></span>
    </button>
    <div class="product-upgrades-container" style="display: none;">
      <div class="product-upgrades-list">
      </div>
    </div>
  </div>
</template>

