<template id="include-item-template">
  <div class="include-item" data-product-id="">
    <span class="product-includes-icon">
        <span class="dashicons dashicons-plus-alt"></span>
    </span>
    <span class="include-item-name product-name"></span>
    <span class="pe-info-button"
          data-tooltip-type="rich"
          data-tooltip-position="right"
          data-title-label="product_management.tooltips.product_details.prompt.label"
          data-tooltip-title="Product Details"
          data-aria-label="product_management.tooltips.product_details.prompt.label"
          aria-label="View Details"
          data-label="product_management.tooltips.product_details.prompt.label"></span>
    <div class="include-item-prices">
      <div class="include-item-total-price product-price" data-prefix-label="ui_elements.single_price"> </div>
    </div>
    <button class="remove-product"
            data-estimate-id=""
            data-room-id=""
            data-product-id=""
            data-title-label="common_ui.general_actions.buttons.remove_button.label"
            data-aria-label="common_ui.general_actions.buttons.remove_button.label">
      <span class="dashicons dashicons-trash"></span>
      <span class="remove-text" data-label="common_ui.general_actions.buttons.remove_button.label">Remove</span>
    </button>
  </div>
</template>

