<template id="product-item-template">
  <div class="product-item" data-product-index="" data-product-id="">
    <div class="product-wrapper">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Product" class="product-thumbnail">
      <div class="product-details-wrapper">
        <div class="product-details">
          <div class="price-graph-container">
            <div class="price-range-title">
              <span class="price-title"></span>
              <span class="price-dimensions"></span>
              <span class="product-price"></span>
            </div>
            <div class="price-graph-bar">
              <div class="price-graph-range"></div>
            </div>
            <div class="price-graph-labels"></div>
          </div>
          <button class="remove-product" data-estimate-id="" data-room-id="" data-product-index="" data-product-id="">
            <span class="dashicons dashicons-trash"></span>
          </button>
        </div>
      </div>
    </div>

    <button class="product-notes-toggle expanded">
      <span>Product Notes</span>
      <span class="toggle-icon dashicons dashicons-arrow-up-alt2"></span>
    </button>
    <div class="notes-container visible">
      <div class="product-notes">
        <div class="product-notes-items"></div>
      </div>
    </div>
    <div class="product-upgrades-container" style="display: none;">
      <button class="product-details-toggle product-upgrades-toggle"> <span>Product Upgrades</span>
        <span class="toggle-icon dashicons dashicons-arrow-down-alt2"></span> </button>

      <div class="product-upgrades">
        <div class="product-upgrades-list"></div>
      </div>
    </div>
    <button class="product-details-toggle similar-products-toggle">
      <span>Similar Products</span>
      <span class="toggle-icon dashicons dashicons-arrow-down-alt2"></span>
    </button>
    <div class="similar-products-container" style="display: none;" data-product-id="">
      <div class="product-similar-products">
        <div class="suggestions-carousel similar-products-carousel">
          <div class="suggestions-nav prev" aria-label="Previous">
            <span class="dashicons dashicons-arrow-left-alt2"></span>
          </div>
          <div class="suggestions-container similar-products-list">
          </div>
          <div class="suggestions-nav next" aria-label="Next">
            <span class="dashicons dashicons-arrow-right-alt2"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
