<template id="similar-product-item-template">
  <div class="suggestion-item similar-product-item"
       data-product-id=""
       data-estimate-id=""
       data-room-id=""
       data-replace-product-id=""
       data-pricing-method="">
    <div class="suggestion-image">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
           class="similar-product-thumbnail product-img">
      <div class="no-image" style="display: none;"></div>
    </div>
    <div class="suggestion-details">
      <div class="suggestion-name product-name"></div>
      <div class="suggestion-price product-price" data-prefix-label="ui_elements.single_price"></div>
      <div class="suggestion-actions">
        <button type="button" class="replace-product-in-room"
                data-product-id=""
                data-estimate-id=""
                data-room-id=""
                data-replace-product-id=""
                data-pricing-method=""
                data-label="product_management.product_additions.buttons.selected_button.label"
                data-aria-label="product_management.similar_products.buttons.replace_button.label"
                data-title-label="product_management.similar_products.buttons.replace_button.label"
        >
          Replace
        </button>
      </div>
    </div>
  </div>
</template>
